
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
<link rel="stylesheet" href="http://<%=cfg.ip%>:<%=cfg.port%>/static/animation.css">
<link rel="stylesheet" href="http://<%=cfg.ip%>:<%=cfg.port%>/static/show.css">

<!--page-->
<div id="contain" class="container">
	<% if(designInfos.music){%>
		<div id="musicIcon" class="music-icon rotate"></div>
	<% } %>
	<div class="arrow">
		<img src="http://<%=cfg.ip%>:<%=cfg.port%>/static/arrow.png"></img>
	</div>
	<% for(var i=0;i<designInfos.pages.length;i++){ %>
		<div class="pages page-hide" style="z-index: <%=designInfos.pages.length-i%>;background-color: <%=designInfos.pages[i].backgroundColor%>">
			<!--text begin-->
			<% for(var j=0;j<designInfos.pages[i].text.length;j++){ %>
				<div class="block" id="<%=designInfos.pages[i].text[j].id%>" style="
					<%for(var s in designInfos.pages[i].text[j].style){%>
						<%=s%>:<%=designInfos.pages[i].text[j].style[s]%>;
					<% } %>
					display:none;
				">
					<%=designInfos.pages[i].text[j].text %>
				</div>
			<% } %>
			<!--text end-->

			<!--image begin-->
			<% for(var j=0;j<designInfos.pages[i].image.length;j++){ %>
				<image class="block" id="<%=designInfos.pages[i].image[j].id%>" style="
					<%for(var s in designInfos.pages[i].image[j].style){%>
						<%=s%>:<%=designInfos.pages[i].image[j].style[s]%>;
					<% } %>
					display:none;
				" src="http://<%=cfg.ip%>:<%=cfg.port%>/H5/image?id=<%=designInfos.pages[i].image[j].imageID %>">
				</image>
			<% } %>
			<!--image end-->
		</div>
	<% } %>
</div>

<% if(designInfos.music){%>
	<!--music-->
	<audio id="musicAudio" src="http://<%=cfg.ip%>:<%=cfg.port%>/H5/PlayMusic?id=<%=designInfos.music%>" controls="controls" autoplay="autoplay" style="display:none;" >
<% } %>

<script type="text/javascript">
	window.infoData = {};
	window.infoData.designInfos = <%- JSON.stringify(designInfos) %>
</script>
<script src="http://<%=cfg.ip%>:<%=cfg.port%>/static/jquery-3.0.0.js"></script>
<script src="http://<%=cfg.ip%>:<%=cfg.port%>/static/toucher.js"></script>
<script src="http://<%=cfg.ip%>:<%=cfg.port%>/static/show.js"></script>